 /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 550px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
	.vertical-scroll{
		overflow-y: scroll;
		overflow-x: hidden;
		height:100%
	}
	.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   
   text-align: center;
}

.fullheight{
	height:100%
	
}
/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: grey; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: grey; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: black; 
}
        
    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {height: auto;} 
    }